.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}
.auth-link {
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.3s ease;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}
.auth-link:hover {
  background-color: #3c62c1;
}
